@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

.CardComp {
    width: 50%;
    height: 30vw;
    text-align: center;
    color: #202020;
    background-color: #f6f0e9;
}

.CardBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardTitle {
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    left: 0;
    right: 0;
    top: 10%;
    font-size: 1.5vw;
    /* text-align: center; */
}

.CardText {
    font-family: 'Bodoni Moda',Georgia,Times,Serif;
    width: 100%;
    /* font-size: 10vw; */
}

@media only screen and (max-width: 991px) {
    .CardComp {
        height: 50vh;
    }

    .CardTitle {
        font-size: 3vw;
    }
}