@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Jost', Arial, sans-serif;
  color: #f6f0e9;
  background-color: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html, body, div#root {
  height: 100%;
  /* height: -webkit-fill-available;
  min-height: 100vh;
  min-height: -webkit-fill-available; */
  margin: 0;
  padding: 0;
}
